<div class="scrolling-wrapper">
    {% for i in 0 .. 9 %}
        <div class="card bg-dark text-white w-100 w-sm-50 w-lg-25 border-0 shadow
        {% if loop.first %}
        {{ 'mr-4' }}
        {% elseif loop.last %}
        {{ 'ml-4' }}
        {% else %}
        {{ 'mx-4' }}
        {% endif %}
        ">
            <img src="https://picsum.photos/200/250?random={{ loop.index }}" class="card-img h-100" alt="">
            <div class="card-img-overlay">
                <h5 class="card-title">{{loop.index}}. Bacon ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    {% endfor %}
</div>